{% extends "get_game/base_homepage.html" %}

{% block content %}
    <h1>Welcome to the Random Steam Game Discoverer!</h1>
    <p>Explore random games from your Steam Library</p>
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="input-group">
                    <label for="profile_id">Enter Steam Profile ID:</label>
                    <input type="number" placeholder="Profile Id" name="profile_id" id="profile_id">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
{% endblock %}